.index-display {
  display: grid;
  grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(2, [row] auto);
  .index-heading {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .index-links {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: grid;
    text-align: center;
    font-size: 24px;
    gap: 30px;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 5px 300px;

    .index-links {
      background-color: #008369;
      color: #f1f1f1;
      border-radius: 5px;
      padding: 5px 0px;
    }
    .index-links:hover {
      background-color: #00a181;
    }
    .NA {
      grid-column: 1;
      width: 250px;
      a:visited {
        text-decoration: none;
      }
    }
    .EU {
      grid-column: 2;
      width: 250px;
    }
  }
}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
