//result display

.reg_display_container {
  display: grid;
  grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(2, [row] auto);
  .heading-row {
    grid-column: 1 / span 2;
    grid-row: 1;
    font-family: "PTSerif-bold";
  }
  .result-row {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-family: "PTSerif-regular";

    table {
      width: 90%;
      margin: 10% 5%;
      background-color: #5a5a5a;
      padding: 2% 10%;
      th {
        text-align: left;
        padding: 0px 10px;
      }
      td {
        padding: 0px 10px;
        width: 33%;
        margin: 10px 0px;
      }
    }
  }
}
a {
  color: #f1f1f1;
  font-size: 16px;
  background-color: #008369;
  padding: 3px 10px;
  border-radius: 5px;
}

a:hover {
  background-color: #00a181;
}

a:visited {
  text-decoration: none;
}
