//result display

.reg_display_container {
  display: grid;
  grid-template-columns: repeat(2, [col] auto);
  grid-template-rows: repeat(3, [row] auto);
  .back {
    grid-column: 1 / span 2;
    grid-row: 1;
    button {
      background-color: #008369;
      color: #f1f1f1;
      font-size: 1.5em;
      font-family: "PTSerif-regular";
      border-radius: 5px;
      border: none;
      padding: 2px 20px;
    }
    button:hover {
      background-color: #00a181;
    }
  }
  .heading-row {
    grid-column: 1 / span 2;
    grid-row: 2;
    font-family: "PTSerif-bold";
  }
  .result-row {
    grid-column: 1 / span 2;
    grid-row: 3;
    font-family: "PTSerif-regular";
    font-size: 1.2em;

    h2 {
      margin-left: 2%;
      margin-right: 2%;
    }
    table {
      width: 100%;
      margin-top: 2%;
      margin-bottom: 2%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid;

      tr:nth-child(even) {
        background-color: #4c4c4c;
      }
      tr:nth-child(odd) {
        background-color: #3f3f3f;
      }
      th {
        text-align: center;
        padding: 0px 10px;
      }
      td {
        padding: 5px 10px;
        width: 33%;
        margin: 10px 0px;
      }
      .points {
        text-align: center;
      }
      .history {
        text-align: center;
        background-color: none;
      }
      a {
        color: #f1f1f1;
        font-size: 16px;
        background-color: #008369;
        padding: 3px 20%;
        border-radius: 5px;
      }

      a:hover {
        background-color: #00a181;
      }

      a:visited {
        text-decoration: none;
      }
    }
  }
}
